# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Environment files
.env
backend/.env

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
postgres_data/
# PRS downloaded scoring files
backend/app/modules/wes_analysis/prs/models/*.txt.gz

# PRS test datasets
backend/app/modules/wes_analysis/prs/data/*.vcf
backend/app/modules/wes_analysis/prs/data/*.vcf.gz
backend/app/modules/wes_analysis/prs/data/*.vcf.gz.tbi
backend/app/modules/wes_analysis/prs/data/*.tsv
backend/app/modules/wes_analysis/prs/data/pgs_chr10_positions.txt
backend/app/modules/wes_analysis/prs/data/test/